.DS_Store
*.py
PDMAtest2.jl
trid.jl
test1.jl
test2.jl
nodesTest.jl
conditioning.jl
dcttest.jl
transform-types.jl
ChebScalartest.jl
shentransform1d_1.jl
typeTest.jl
mk-typeTest.jl
sandboxTypes.jl
3Dtests.jl